body
{
  background-color: rgb(0, 0, 0); 
    color: rgb(0, 0, 0); background-image: url(fts/brasilgrme.png);
    background-position: center center ; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
   background-size: cover;
}
 img
 {
  display: block; margin: 20px auto; width:  40%;  
} 
 h1
 {
  background-color: aliceblue;
 }
 p
 {background-color: aliceblue;
  font-size: 30px;
  font-style: inherit;
  font-weight: 30px;
}
.lista
 {
  font-size:30px ;
  color: rgb(0, 0, 0);
 } 
.lista li { 
  
   width: 1%; 
   color: rgba(0, 0, 0, 1.0);}
  li:nth-child(even){
    background-color: rgba(127, 255, 0, 0.7);
    color: rgb(0, 0, 0);
  }
.lista li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(7, 255, 27);
  }
  
  ol
{
  font-size:30px ;
  color: rgb(0, 0, 0);
}
.fotos
{
   display: inline; width: 25%;
}
.links
{
  color: rgb(255, 81, 0);
}
.linksa{
  color: rgb(255, 0, 0);
}  
h3
{
font-size: 270%; 
background-color: aliceblue;
}
.insta
{
   font-size:50px ;
  color: rgb(255, 0, 212);
}
.menu > li 
{
display: inline-block; font-size: 35px ; margin: 0 20%; background-color: rgb(0, 0, 0);
}
.menu{
  background-color: rgb(0, 0, 0); line-height: 300% ;
}
.menu a{
  color: chartreuse;
} 
.h2{
  color: rgb(255, 0, 212);
}