body
{
  background-color: rgb(0, 0, 0); 
    color: rgb(0, 0, 0); background-image: url(fts/brasilgrme.png);
    background-position: center center ; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
   background-size: cover;
}
 img
 {
  display: block; margin: 20px auto; width:  40%;  
} 
 h1
 {
  background-color: aliceblue;
 }
 p
 {background-color: aliceblue;
  font-size: 30px;
  font-style: inherit;
  font-weight: 30px;
}
.lista
 {
  font-size:20px ;
  color: rgb(0, 0, 0);
 } 
.lista li { 
  
   width: 1%; 
   color: rgba(0, 0, 0, 1.0);}
.lista  li:nth-child(even){
    background-color: rgba(127, 255, 0, 0.7);
    color: rgb(0, 0, 0);
  }
.lista li:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(7, 255, 27);
  }
  
  ol
{
  font-size:30px ;
  color: rgb(0, 0, 0);
}
.fotos
{
   display: inline; width: 25%; height: 250px ;
}
.links
{
  color: rgb(10, 255, 2); font-size: 50px;
}
.links:hover {
  font-size: 55px ; transition: all 200ms;
}
.linksa
{
  color: rgb(194, 20, 20); font-size: 50px;
}  
h3
{
font-size: 200%; 
background-color: rgba(240, 248, 255, 0);
}
.insta
{
   font-size:50px ;
  color: rgb(255, 0, 212);
}
.menu > li 
{
font-size: 35px ; background-color: rgb(0, 0, 0); text-align: left; list-style-type: none; width: 15%;
}
.menu 
{
  background-color: rgb(0, 0, 0); line-height: 300% ; display: flex; justify-content: space-around; width: 100%; flex-wrap: wrap; list-style: none; 
}
.menu a 
{
  color: chartreuse;
} 
.menu a:hover {
  font-size: 40px; transition: all 200ms ;
}
.h2
{
  color: rgb(255, 0, 212);
}
.youtube
{
color: black; background-color: rgb(255, 255, 255); font-size: 35px;
}
.youtube:hover{
  font-size: 40px; transition: all 200ms;
}
.lista
 {
  font-size:40px ;
  color: rgb(0, 0, 0);
 } 
ul.joi > li 
{ 
  font-size: 40px;
   width: 40%; 
   color: rgba(0, 0, 0, 1.0);}
.joi  li:nth-child(even){

    color: rgb(0, 0, 0);
  }
.joi li:nth-child(odd){

    color: rgb(7, 255, 27);
  }
h4
{
  color: black;
}
table
{
  margin: 0 auto ;
  font-size: 2rem;
  border: solid 2px black ;
  text-align: center;

}
tr:nth-child(even) 
{
  background-color: rgb(194, 20, 20);
  color: white;
}
tr:nth-child(odd)
{
  background-color: white;
  color: black;
}
td
{
  padding: 10px ;
}
th
{
  padding: 10px;
}
footer
{
  font-size:20px ; background-color: rgba(7, 255, 27, 0.801); text-align-last: center; width: 100%; 
}
.maps
{
  display: block; width: 50%; margin: 0 auto ; height: 450px;
}
.fts
{
  height: 400px; width: 400px;
}
.footerb
{
  font-size:20px ; background-color: rgba(194, 20, 20); text-align-last: center; width: 100%; 
}
.menub > li 
{
font-size: 35px ; background-color: rgb(0, 0, 0); text-align: left; list-style-type: none; width: 15%;
}
.menub
{
  background-color: rgb(0, 0, 0); line-height: 300% ; display: flex; justify-content: space-around; width: 100%; flex-wrap: wrap; list-style: none; 
}
.menub a
{
  color: rgb(194, 20, 20);
}
.menub a:hover {
  font-size: 40px; transition: all 200ms;
}
.bodyb
{
  background-color: rgb(0, 0, 0); 
    color: rgb(0, 0, 0); background-image: url(fts/purgabkg.png);
    background-position: center center ; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
   background-size: cover;
}
@media screen and (max-width:900px) {
  
} 
@media screen and (max-width: 500px) {
  .menu {
    background-color: aliceblue;
  }

  .menu {
    flex-direction: column;
  }
}
.linksa:hover {
  font-size: 20px ; transition: all 200ms;
}
ul.joib > li 
{ 
  font-size: 5px;
   width: 40%; 
   color: rgba(0, 0, 0, 1.0);}
.joib  li:nth-child(even){

    color: rgb(0, 0, 0);
  }
.joib li:nth-child(odd){

    color: rgb(194, 20, 20);
  }
  section {
    width: 98%;
    margin: 1% auto;
    background-image: linear-gradient(to bottom left, black, #ffffff 17%);
    border: 3px solid rgb(43, 40, 40);
    border-radius: 5px;
    padding: 1% 3% 2%;
}

section > h2 {
    font-size: 1.6rem;
    /*font-family: ubuntu sans*/
    font-weight: bold;
}

.lista_cursos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lista_cursos_item {
    width: 15%;
    height:10%;
    margin: 1% 1% 2%;
    text-align: center;
    border: 1px solid black;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    box-shadow: 3px 2px 2px black, 6px 5px 6px rgb(0, 0, 0);
}

.curso_imagem {
    width: 90%;
}

.lista_cursos_item > h3 {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
}

.lista_cursos_item:hover {
    box-shadow: 5px 4px 4px black, 10px 9px 10px rgb(7, 255, 27, 0.801);
}

.nome_produto {
    text-align: left;
}
.lista_cursos_item2:hover {
  box-shadow: 5px 4px 4px black, 10px 9px 10px rgba(194, 20, 20);
}
.lista_cursos_item2 {
  width: 15%;
  height:10%;
  margin: 1% 1% 2%;
  text-align: center;
  border: 1px solid black;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  box-shadow: 3px 2px 2px black, 6px 5px 6px rgb(0, 0, 0);
}
.nome_produtob {
  text-align: left;
}
b {
  width: 98%;
  margin: 1% auto;
  background-image: linear-gradient(to bottom left, black, #ffffff 17%);
  border: 3px solid rgb(43, 40, 40);
  border-radius: 5px;
  padding: 1% 3% 2%;
}
b> h2 {
  font-size: 1.6rem;
  /*font-family: ubuntu sans*/
  font-weight: bold;
}
.lista_cursos_item2 > h3 {
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: bold;
}

